{% extends 'store/base.html' %}
{% block title %}Trang chủ{% endblock  %}

{% block content %}
<!-- <div class="container-fluid", style="min-height:95%">
        <div class="row">
            <div class = "col-sm-6">
                <p>Tên: Phan Ngọc Linh</p>
                <p>Năm: 1998</p>
                <p>Trường: Đại học Sư phạm Hà Nội</p>
            </div>
        </div>
    </div>    
-->

<div class="row">
  <div class="col-8 menu">
   <center><img src="static/images/slideshow.jpg" class="responsive-img" style="max-height:50000px"/></center>
  </div>

  <div class="col-4">
    <img src="static/images/loa.jpg">
    <img src="static/images/laptop.jpg">
  </div>
</div>

{% endblock  %}