{% extends 'store/base.html' %}
{%load static%}
{% block title %}Cửa hàng{% endblock  %}

{% block content %}

<div class="container">
            <div class="row">
            <div class="col-lg-3">
                    
                </div> 
                <div class="col-lg-9">
                    <div class="carousel slide my-4" id="carouselExampleIndicators" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"><img class="d-block img-fluid" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_1.jpg?v=19781" alt="First slide" /></div>
                            <div class="carousel-item"><img class="d-block img-fluid" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_9.jpg?v=19781" alt="Second slide" /></div>
                            <div class="carousel-item"><img class="d-block img-fluid" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_5.jpg?v=19781" alt="Third slide" /></div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="row">
                    {% for product in posts %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#!"><img class="card-img-top" src="{{product.image.url}}" alt="..." /></a>
                                <div class="card-body">
                                    <h4 class="card-title"><a href="{{product.urlsPD}}">{{product.namePD}}</a></h4>
                                    <h5>{{product.prices}} VND</h5>
                                    <p class="card-text">{{product.description|safe|linebreaks}}</p>
                                </div>
                                <!-- <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div> -->
                                <button onclick="click_add()" data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                        {% endfor %}

                  
                    </div>
                </div>
            </div>
        </div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
function click_add() {
  alert("Đã thêm vào giỏ hàng");
}
</script>

{% endblock  %}     