{% extends 'store/base.html' %}
{% block title %}Liên hệ{% endblock  %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-7">
            <br>
            <p>
            <h5>   CÔNG TY TNHH THƯƠNG MẠI PC DEMO</h5>
<h5>EMAIL: CSKH@PCDEMO.COM</h5>
<h5>HỆ THỐNG TỔNG ĐÀI MIỄN PHÍ: (Làm việc từ 8h00 - 22h00)</h5>
Gọi mua hàng	    1800 0001 <br>
Hỗ trợ khách hàng	1800 0002

</p>
</p>
<h5>HỆ THỐNG CỬA HÀNG:</h5>
<h5>SHOWROOM HCM (Làm việc từ 8h00 - 22h00)</h5>
- Địa chỉ 1: 20 Cộng Hòa, Phường 4, quận Tân Bình<br>
- Địa chỉ 2: 30 Cách Mạng Tháng Tám, P, Quận 1<br>
<h5>SHOWROOM HN (Làm việc từ 8h00 - 21h00)</h5>
- Địa chỉ : 37 Ngõ 121 Thái Hà, Phường Trung Liệt, Quận Đống Đa.<br>
<br>
Mua PC Gaming, card màn hình, màn hình máy tính, ghế gaming, thiết bị chơi game hàng đầu Việt Nam bảo hành chính hãng. <br>
Mua online nhận nhiều ưu đãi hấp dẫn.<br>
- Công ty TNHH Thương Mại PC Demo<br>
- GPKD số 000000000 do Sở KH và ĐT TP Hồ Chí Minh cấp ngày 01/01/2020<br>
- GĐ/Sở hữu website: Nhóm 13<br>
</p>
            </div>
        </div>
</div>
{% endblock  %}